textarea {
    min-height: 400px;
}

.email-item {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: darkgray;
    padding: 8px;
    font-size: 18px;
}
.email-item:hover {
    cursor: pointer;
    border-color: black;
}

.timestamp {
    float: right;
    color: gray;
}

span {
    margin-left: 10px;
}
