{% extends "auctions/layout.html" %}

{% block body %}
    <h2><strong>Listing: {{ listing.title }}</strong></h2>
    <form action="{% url 'auctions:listing_view' listing_title=listing.title %}" method="post">
        {% csrf_token %}
        {% if watchlisted %}
            <button type="submit" class="btn btn-primary btn-sm" value="False" name="watchlisted">Watchlisted</button>
        {% else %}
            <button type="submit" class="btn btn-secondary btn-sm" value="True" name="watchlisted">Watchlist</button>
        {% endif %}
    </form>
    <div class="listing-full">
        {% if listing.image_url %}
        <div class="listing-image">
            <img src="{{ listing.image_url }}" alt="Listing image" height="300">
        </div>
        {% endif %}
        <h4>Description:</h4>
        <div class="listing-desc">
            {{ listing.description|linebreaks }}
        </div>
        <h3><strong>Price</strong>: ${{ listing.price }}</h3>
        <div class="bid">
            <form action="{% url 'auctions:listing_view' listing_title=listing.title %}" method="post">
                {% csrf_token %}
                {% if bid_count > 0 %}
                    {{ bid_count }} bid(s) so far. 
                {% else %}
                    no bids so far.
                {% endif %}
                {% if top_bidder == user %}
                    Your bid is the current bid. 
                {% elif top_bidder %}
                    Current bid belongs to <strong>{{ top_bidder.username }}</strong>.
                {% endif %}
                {{ form_bid }}
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>
        </div>
        <div class="listing-detail">
            <h4><strong>Details</strong></h4>
            <ul> 
                <li>Created: {{ listing.date }}</li>
                <li>Listed by: <strong>{{ listing.creator }}</strong></li>
                <li>Category: {{ listing.get_category_display }}</li>
            </ul>
        </div>
        <h4><strong>Comments</strong></h4>
        <h5>Add comment:</h5>
        <form action="{% url 'auctions:listing_view' listing_title=listing.title %}" method="post">
            {% csrf_token %}
            {{ form_comment }}
            <input type="submit" value="Add comment">
        </form>
        {% for comment in comments %}
            <div class="comment">
                <div class="commenter">
                    <strong>{{ comment.commenter }}</strong> wrote:
                </div>
                <div class="comment-detail">
                    {{ comment.content }}
                </div>
                <div class="comment-date">
                    {{ comment.date }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}